<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658277377274-8ofjtsnhsv1s2mbf8qoebqndb686o2pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658277377274-8ofjtsnhsv1s2mbf8qoebqndb686o2pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>658277377274-a34fp216hv4v5hktbnen2lal5v06kkar.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAlS7PPxtUxmL2oTh-aXGxf1SwhcT8GP8</string>
	<key>GCM_SENDER_ID</key>
	<string>658277377274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.closer.application</string>
	<key>PROJECT_ID</key>
	<string>closer-a8990</string>
	<key>STORAGE_BUCKET</key>
	<string>closer-a8990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658277377274:ios:8a1929b5a315e38e9cd543</string>
</dict>
</plist>