<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:closer.com</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.closer.application</string>
		<string>group.com.closer.staging</string>
	</array>
</dict>
</plist>
